{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for x in movie_list %}
        <div class="col-md-3  ml-4">
            <div class="card" style="width: 18rem; height:500px">
                 <img class="card-img-top" src="{{x.img.url}}" alt="Card image cap"  height="250px">
                    <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p class="card-text">{{x.desc}}</p>
                    <a href="{% url 'movieapp:detail' x.id %}" class="btn btn-primary">Edit</a>
                   </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    {% endblock %}
</a>
